In [1]:
import datetime
x = datetime.datetime.now().strftime('%d %b %Y')
print(x)

10 Nov 2021

In [2]:
import pandas as pd
test = pd.date_range('20201102', periods=140).strftime('%d %b %Y')
test = pd.DataFrame("", index=test, columns=("Day","Home","Office"))
test['Day'] = ('Mon','Tue','Wed','Thurs','Fri','Sat','Sun')*20
test.iloc[0:7,1:3] = 'Peter','Alex'
test.iloc[7:14,1:3] = 'Alex','Peter'
test.iloc[14:21,1:3] = 'Peter','Alex'
test.iloc[21:28,1:3] = 'Alex','Peter'
test.iloc[28:35,1:3] = 'Peter','Alex'
test.iloc[35:42,1:3] = 'Alex','Peter'
test.iloc[42:49,1:3] = 'Peter','Alex'
test.iloc[49:56,1:3] = 'Alex','Peter'
test.iloc[56:63,1:3] = 'Peter','Alex'
test.iloc[63:70,1:3] = 'Alex','Peter'
test.iloc[70:77,1:3] = 'Peter','Alex'
test.iloc[77:84,1:3] = 'Alex','Peter'
test.iloc[84:91,1:3] = 'Peter','Alex'
test.iloc[91:98,1:3] = 'Alex','Peter'
test.iloc[98:105,1:3] = 'Peter','Alex'
test.iloc[105:112,1:3] = 'Alex','Peter'
test.iloc[112:119,1:3] = 'Peter','Alex'
test.iloc[119:126,1:3] = 'Alex','Peter'
test.iloc[126:133,1:3] = 'Peter','Alex'
test.iloc[133:140,1:3] = 'Alex','Peter'


test = test.reset_index()
test.rename(columns = {'index':'Date'}, inplace = True)
test

            Date    Day   Home Office
0    02 Nov 2020    Mon  Peter   Alex
1    03 Nov 2020    Tue  Peter   Alex
2    04 Nov 2020    Wed  Peter   Alex
3    05 Nov 2020  Thurs  Peter   Alex
4    06 Nov 2020    Fri  Peter   Alex
..           ...    ...    ...    ...
135  17 Mar 2021    Wed   Alex  Peter
136  18 Mar 2021  Thurs   Alex  Peter
137  19 Mar 2021    Fri   Alex  Peter
138  20 Mar 2021    Sat   Alex  Peter
139  21 Mar 2021    Sun   Alex  Peter

[140 rows x 4 columns]

In [3]:
test.to_excel('test.xlsx', sheet_name='Sheet1', index=False)